# `Step 1: Setup`

# `Config`

In [1]:
import pandas as pd 
import pickle   
from itertools import combinations
from IPython.display import HTML

In [2]:
try:
    if manager == 1:
        print("Jupyter has been running from Manager") 
except: 
    %run s0_config.ipynb

s0_config.ipynb | Started
s0_config.ipynb | Finished

# `Load`

In [3]:
data_true     = pd.read_csv( true_data ) 
data_selected = pd.read_csv( selected_data )

# `Operation`

## 1-) `True Labels`

### A-) `Overview`

In [4]:
data_true

,Unnamed: 0,Cluster,Gene,Expression,P Value,P Value(Adj),Score
0,0,Plasma cells,JCHAIN,6.496516,2.343345e-25,2.715227e-21,10.405374
1,1,Plasma cells,IGHA1,7.216112,4.854644e-25,2.715227e-21,10.335776
2,2,Plasma cells,IGHA2,4.820352,7.016357e-25,2.715227e-21,10.300407
3,3,Plasma cells,SSR4,3.285065,7.899416e-25,2.715227e-21,10.288998
4,4,Plasma cells,FKBP11,2.013909,9.964900e-24,2.740148e-20,10.041985
...,...,...,...,...,...,...,...
115,5,Macro_pDC,GPNMB,1.260587,7.049447e-18,1.615381e-14,8.614098
116,6,Macro_pDC,SMIM25,1.102876,1.316690e-17,2.586168e-14,8.542218
117,7,Macro_pDC,IL3RA,1.581112,2.446791e-17,4.082154e-14,8.470340
118,8,Macro_pDC,GZMB,2.426529,2.672150e-17,4.082154e-14,8.460071
119,9,Macro_pDC,CSTA,1.102523,3.139742e-17,4.316831e-14,8.441245

### B-) `Preprocessing`

#### 1-) `Drop`

In [5]:
try:
    data_true = data_true.drop(columns = "Unnamed: 0") 
except:
    data_true = data_true
data_true

          Cluster    Gene  Expression       P Value  P Value(Adj)      Score
0    Plasma cells  JCHAIN    6.496516  2.343345e-25  2.715227e-21  10.405374
1    Plasma cells   IGHA1    7.216112  4.854644e-25  2.715227e-21  10.335776
2    Plasma cells   IGHA2    4.820352  7.016357e-25  2.715227e-21  10.300407
3    Plasma cells    SSR4    3.285065  7.899416e-25  2.715227e-21  10.288998
4    Plasma cells  FKBP11    2.013909  9.964900e-24  2.740148e-20  10.041985
..            ...     ...         ...           ...           ...        ...
115     Macro_pDC   GPNMB    1.260587  7.049447e-18  1.615381e-14   8.614098
116     Macro_pDC  SMIM25    1.102876  1.316690e-17  2.586168e-14   8.542218
117     Macro_pDC   IL3RA    1.581112  2.446791e-17  4.082154e-14   8.470340
118     Macro_pDC    GZMB    2.426529  2.672150e-17  4.082154e-14   8.460071
119     Macro_pDC    CSTA    1.102523  3.139742e-17  4.316831e-14   8.441245

[120 rows x 6 columns]

In [6]:
data_true.rename(columns = {"Cluster":"Cell_Type"}, inplace = True)     
data_true.rename(columns = {"Gene":"Gene_Marker"}, inplace = True)
data_true

,Cell_Type,Gene_Marker,Expression,P Value,P Value(Adj),Score
0,Plasma cells,JCHAIN,6.496516,2.343345e-25,2.715227e-21,10.405374
1,Plasma cells,IGHA1,7.216112,4.854644e-25,2.715227e-21,10.335776
2,Plasma cells,IGHA2,4.820352,7.016357e-25,2.715227e-21,10.300407
3,Plasma cells,SSR4,3.285065,7.899416e-25,2.715227e-21,10.288998
4,Plasma cells,FKBP11,2.013909,9.964900e-24,2.740148e-20,10.041985
...,...,...,...,...,...,...
115,Macro_pDC,GPNMB,1.260587,7.049447e-18,1.615381e-14,8.614098
116,Macro_pDC,SMIM25,1.102876,1.316690e-17,2.586168e-14,8.542218
117,Macro_pDC,IL3RA,1.581112,2.446791e-17,4.082154e-14,8.470340
118,Macro_pDC,GZMB,2.426529,2.672150e-17,4.082154e-14,8.460071
119,Macro_pDC,CSTA,1.102523,3.139742e-17,4.316831e-14,8.441245

In [7]:
data_true[["Cell_Type", "Gene_Marker","Expression"]]

        Cell_Type Gene_Marker  Expression
0    Plasma cells      JCHAIN    6.496516
1    Plasma cells       IGHA1    7.216112
2    Plasma cells       IGHA2    4.820352
3    Plasma cells        SSR4    3.285065
4    Plasma cells      FKBP11    2.013909
..            ...         ...         ...
115     Macro_pDC       GPNMB    1.260587
116     Macro_pDC      SMIM25    1.102876
117     Macro_pDC       IL3RA    1.581112
118     Macro_pDC        GZMB    2.426529
119     Macro_pDC        CSTA    1.102523

[120 rows x 3 columns]

#### 3-) `Strip`

In [8]:
new_cell_type_names = [] 
for i in data_true["Cell_Type"]:
    new_cell_type_names.append(i.replace("cells", "").strip() )

data_true["Cell_Type"] = new_cell_type_names
data_true["Cell_Type"]

new_gene_marker_names = [] 
for i in data_true["Gene_Marker"]:
    try:
        new_gene_marker_names.append(i.replace("cells", "").strip() )
    except:
        new_gene_marker_names.append(i) 

data_true["Gene_Marker"] = new_gene_marker_names
data_true["Gene_Marker"]

0      JCHAIN
1       IGHA1
2       IGHA2
3        SSR4
4      FKBP11
        ...
115     GPNMB
116    SMIM25
117     IL3RA
118      GZMB
119      CSTA
Name: Gene_Marker, Length: 120, dtype: object

#### 4-) `Augmentation`

In [9]:
data_true

     Cell_Type Gene_Marker  Expression       P Value  P Value(Adj)      Score
0       Plasma      JCHAIN    6.496516  2.343345e-25  2.715227e-21  10.405374
1       Plasma       IGHA1    7.216112  4.854644e-25  2.715227e-21  10.335776
2       Plasma       IGHA2    4.820352  7.016357e-25  2.715227e-21  10.300407
3       Plasma        SSR4    3.285065  7.899416e-25  2.715227e-21  10.288998
4       Plasma      FKBP11    2.013909  9.964900e-24  2.740148e-20  10.041985
..         ...         ...         ...           ...           ...        ...
115  Macro_pDC       GPNMB    1.260587  7.049447e-18  1.615381e-14   8.614098
116  Macro_pDC      SMIM25    1.102876  1.316690e-17  2.586168e-14   8.542218
117  Macro_pDC       IL3RA    1.581112  2.446791e-17  4.082154e-14   8.470340
118  Macro_pDC        GZMB    2.426529  2.672150e-17  4.082154e-14   8.460071
119  Macro_pDC        CSTA    1.102523  3.139742e-17  4.316831e-14   8.441245

[120 rows x 6 columns]

In [10]:
from itertools import combinations
import numpy as np

# Step 1: Iterate through each unique cell type in the dataset
for i in pd.unique(data_true["Cell_Type"]): 
    current_cell_type = i
    print("Current Cell Type: ", current_cell_type)
    
    # Step 2: For each cell type, select the first 6 gene markers and their expression levels
    genes20 = data_true[data_true["Cell_Type"] == current_cell_type]
    gene_list = genes20["Gene_Marker"][:6].tolist()  # List of gene markers
    expression_list = genes20["Expression"][:6].tolist()  # Corresponding expression levels
    p_values_list = genes20["P Value"][:6].tolist()  # Corresponding p-values 
    p_values_adj_list = genes20["P Value(Adj)"][:6].tolist()  # Corresponding adjusted p-values 
    scores_list = genes20["Score"][:6].tolist()  # Corresponding scores 
    
    # Initialize lists to store the combinations of gene markers and their calculated expressions
    all_gene_combinations = []
    all_expression_combinations = []
    p_values_combinations = [] 
    p_values_adj_combinations = []   
    scores_combinations = []     
    
    # Step 3: Generate combinations of gene markers ranging from 2 to 5
    for r in range(2, 6):  # Combining 2 to 5 gene markers
        gene_combinations_r = list(combinations(gene_list, r))  # Generate gene marker combinations
        expression_combinations_r = list(combinations(expression_list, r))  # Generate corresponding expression combinations
        p_values_combinations_r = list(combinations(p_values_list, r))  # Generate corresponding p-values combinations 
        p_values_adj_combinations_r = list(combinations(p_values_adj_list, r))  # Generate corresponding adjusted p-values combinations
        scores_combinations_r = list(combinations(scores_list, r))  # Generate corresponding scores combinations 
        
        # Convert each gene combination tuple to a string joined by ","
        gene_combinations_r = [",".join(comb) for comb in gene_combinations_r]
        all_gene_combinations.extend(gene_combinations_r)  # Append to the list of all gene marker combinations
        
        # Step 4: Calculate the average expression for each gene combination
        for expression_comb in expression_combinations_r:
            average_expression = np.mean(expression_comb)  # Compute average expression for the combination
            all_expression_combinations.append(average_expression)  # Append to the list of expressions

        # Step 5: Calculate the average p-value for each gene combination
        for p_values_comb in p_values_combinations_r:
            average_p_values = np.mean(p_values_comb) # Compute average p-value for the combination
            p_values_combinations.append(average_p_values) # Append to the list of p-values 

        # Step 6: Calculate the average adjusted p-value for each gene combination
        for p_values_adj_comb in p_values_adj_combinations_r:
            average_p_values_adj = np.mean(p_values_adj_comb)
            p_values_adj_combinations.append(average_p_values_adj) # Append to the list of adjusted p-values 

        # Step 7: Calculate the average score for each gene combination
        for scores_comb in scores_combinations_r:
            average_scores = np.mean(scores_comb) 
            scores_combinations.append(average_scores) # Append to the list of scores 

    
    # Step 8: Create a new DataFrame with the combined gene markers and their average expression
    new_pairs_DF = pd.DataFrame({
        "Cell_Type": current_cell_type,  # Cell type for the combinations
        "Gene_Marker": all_gene_combinations,  # Combined gene markers
        "Expression": all_expression_combinations,  # Calculated average expressions
        "P Value": p_values_combinations,  # Calculated average p-values 
        "P Value(Adj)": p_values_adj_combinations,  # Calculated average adjusted p-values 
        "Score": scores_combinations  # Calculated average scores    


    })
    
    # Step 9: Append the new combinations to the main DataFrame
    data_true = pd.concat([data_true, new_pairs_DF], axis=0)  # Combine the original and the new data

Current Cell Type:  Plasma
Current Cell Type:  gamma-delta T
Current Cell Type:  Follicular B
Current Cell Type:  DC1
Current Cell Type:  Kupffer
Current Cell Type:  Macrophages
Current Cell Type:  pDC
Current Cell Type:  Endothelial
Current Cell Type:  Mast
Current Cell Type:  Neutrophil-myeloid progenitor
Current Cell Type:  Microglia
Current Cell Type:  Macro_pDC

### C-) `Result`

In [11]:
data_true

,Cell_Type,Gene_Marker,Expression,P Value,P Value(Adj),Score
0,Plasma,JCHAIN,6.496516,2.343345e-25,2.715227e-21,10.405374
1,Plasma,IGHA1,7.216112,4.854644e-25,2.715227e-21,10.335776
2,Plasma,IGHA2,4.820352,7.016357e-25,2.715227e-21,10.300407
3,Plasma,SSR4,3.285065,7.899416e-25,2.715227e-21,10.288998
4,Plasma,FKBP11,2.013909,9.964900e-24,2.740148e-20,10.041985
...,...,...,...,...,...,...
51,Macro_pDC,"TREM1,SERPINA1,FBP1,IRF7,GPNMB",1.705674,2.313270e-18,7.478015e-15,8.783870
52,Macro_pDC,"TREM1,SERPINA1,FBP1,PLD4,GPNMB",1.612178,3.125282e-18,9.498520e-15,8.754662
53,Macro_pDC,"TREM1,SERPINA1,IRF7,PLD4,GPNMB",1.690057,3.163502e-18,9.498520e-15,8.751695
54,Macro_pDC,"TREM1,FBP1,IRF7,PLD4,GPNMB",1.628484,3.264858e-18,9.498520e-15,8.741199
55,Macro_pDC,"SERPINA1,FBP1,IRF7,PLD4,GPNMB",1.852231,3.279757e-18,9.498520e-15,8.739145

## 2-) `Selected`

### A-) `Overview`

In [12]:
data_selected

,Unnamed: 0,Cluster,Gene,Expression,P Value,P Value(Adj),Score
0,0,0,JCHAIN,6.369182,4.827086e-25,2.992878e-21,10.336322
1,1,0,IGHA1,7.077818,6.197949e-25,2.992878e-21,10.312331
2,2,0,IGHA2,4.783164,6.530390e-25,2.992878e-21,10.307309
3,3,0,SSR4,3.226114,3.549895e-24,1.220188e-20,10.143276
4,4,0,FKBP11,1.983271,1.021905e-23,2.810035e-20,10.039500
...,...,...,...,...,...,...,...
115,5,11,GPNMB,1.253883,2.284477e-17,5.234879e-14,8.478331
116,6,11,IL3RA,1.615864,2.926150e-17,5.747376e-14,8.449475
117,7,11,SMIM25,1.095707,4.298324e-17,7.387207e-14,8.404461
118,8,11,GZMB,2.442525,6.000432e-17,9.166660e-14,8.365217
119,9,11,CSTA,1.110647,7.331954e-17,1.008070e-13,8.341556

### B-) `Preprocessing`

#### 1-) `Drop`

In [13]:
try:
    data_selected = data_selected.drop(columns = "Unnamed: 0") 
except:
    data_selected = data_selected
data_selected

     Cluster    Gene  Expression       P Value  P Value(Adj)      Score
0          0  JCHAIN    6.369182  4.827086e-25  2.992878e-21  10.336322
1          0   IGHA1    7.077818  6.197949e-25  2.992878e-21  10.312331
2          0   IGHA2    4.783164  6.530390e-25  2.992878e-21  10.307309
3          0    SSR4    3.226114  3.549895e-24  1.220188e-20  10.143276
4          0  FKBP11    1.983271  1.021905e-23  2.810035e-20  10.039500
..       ...     ...         ...           ...           ...        ...
115       11   GPNMB    1.253883  2.284477e-17  5.234879e-14   8.478331
116       11   IL3RA    1.615864  2.926150e-17  5.747376e-14   8.449475
117       11  SMIM25    1.095707  4.298324e-17  7.387207e-14   8.404461
118       11    GZMB    2.442525  6.000432e-17  9.166660e-14   8.365217
119       11    CSTA    1.110647  7.331954e-17  1.008070e-13   8.341556

[120 rows x 6 columns]

In [14]:
data_selected.rename(columns = {"Cluster":"Cell_Type"}, inplace = True)     
data_selected.rename(columns = {"Gene":"Gene_Marker"}, inplace = True)
data_selected

     Cell_Type Gene_Marker  Expression       P Value  P Value(Adj)      Score
0            0      JCHAIN    6.369182  4.827086e-25  2.992878e-21  10.336322
1            0       IGHA1    7.077818  6.197949e-25  2.992878e-21  10.312331
2            0       IGHA2    4.783164  6.530390e-25  2.992878e-21  10.307309
3            0        SSR4    3.226114  3.549895e-24  1.220188e-20  10.143276
4            0      FKBP11    1.983271  1.021905e-23  2.810035e-20  10.039500
..         ...         ...         ...           ...           ...        ...
115         11       GPNMB    1.253883  2.284477e-17  5.234879e-14   8.478331
116         11       IL3RA    1.615864  2.926150e-17  5.747376e-14   8.449475
117         11      SMIM25    1.095707  4.298324e-17  7.387207e-14   8.404461
118         11        GZMB    2.442525  6.000432e-17  9.166660e-14   8.365217
119         11        CSTA    1.110647  7.331954e-17  1.008070e-13   8.341556

[120 rows x 6 columns]

In [15]:
data_selected[["Cell_Type", "Gene_Marker","Expression"]]

     Cell_Type Gene_Marker  Expression
0            0      JCHAIN    6.369182
1            0       IGHA1    7.077818
2            0       IGHA2    4.783164
3            0        SSR4    3.226114
4            0      FKBP11    1.983271
..         ...         ...         ...
115         11       GPNMB    1.253883
116         11       IL3RA    1.615864
117         11      SMIM25    1.095707
118         11        GZMB    2.442525
119         11        CSTA    1.110647

[120 rows x 3 columns]

#### 3-) `Strip`

In [16]:
new_cell_type_names = [] 
for i in data_selected["Cell_Type"]:
    try:
        new_cell_type_names.append(i.replace("cells", "").strip() )
    except:
        new_cell_type_names.append(i) 

data_selected["Cell_Type"] = new_cell_type_names
data_selected["Cell_Type"]

new_gene_marker_names = [] 
for i in data_selected["Gene_Marker"]:
    try:
        new_gene_marker_names.append(i.replace("cells", "").strip() )
    except:
        new_gene_marker_names.append(i) 

data_selected["Gene_Marker"] = new_gene_marker_names
data_selected["Gene_Marker"]

0      JCHAIN
1       IGHA1
2       IGHA2
3        SSR4
4      FKBP11
        ...
115     GPNMB
116     IL3RA
117    SMIM25
118      GZMB
119      CSTA
Name: Gene_Marker, Length: 120, dtype: object

#### 4-) `Augmentation`

In [17]:
data_selected

     Cell_Type Gene_Marker  Expression       P Value  P Value(Adj)      Score
0            0      JCHAIN    6.369182  4.827086e-25  2.992878e-21  10.336322
1            0       IGHA1    7.077818  6.197949e-25  2.992878e-21  10.312331
2            0       IGHA2    4.783164  6.530390e-25  2.992878e-21  10.307309
3            0        SSR4    3.226114  3.549895e-24  1.220188e-20  10.143276
4            0      FKBP11    1.983271  1.021905e-23  2.810035e-20  10.039500
..         ...         ...         ...           ...           ...        ...
115         11       GPNMB    1.253883  2.284477e-17  5.234879e-14   8.478331
116         11       IL3RA    1.615864  2.926150e-17  5.747376e-14   8.449475
117         11      SMIM25    1.095707  4.298324e-17  7.387207e-14   8.404461
118         11        GZMB    2.442525  6.000432e-17  9.166660e-14   8.365217
119         11        CSTA    1.110647  7.331954e-17  1.008070e-13   8.341556

[120 rows x 6 columns]

In [18]:
from itertools import combinations
import numpy as np

# Step 1: Iterate through each unique cell type in the dataset
for i in pd.unique(data_selected["Cell_Type"]): 
    current_cell_type = i
    print("Current Cell Type: ", current_cell_type)
    
    # Step 2: For each cell type, select the first 6 gene markers and their expression levels
    genes20 = data_selected[data_selected["Cell_Type"] == current_cell_type]
    gene_list = genes20["Gene_Marker"][:6].tolist()  # List of gene markers
    expression_list = genes20["Expression"][:6].tolist()  # Corresponding expression levels
    p_values_list = genes20["P Value"][:6].tolist()  # Corresponding p-values 
    p_values_adj_list = genes20["P Value(Adj)"][:6].tolist()  # Corresponding adjusted p-values 
    scores_list = genes20["Score"][:6].tolist()  # Corresponding scores 
    
    # Initialize lists to store the combinations of gene markers and their calculated expressions
    all_gene_combinations = []
    all_expression_combinations = []
    p_values_combinations = [] 
    p_values_adj_combinations = []   
    scores_combinations = []     
    
    # Step 3: Generate combinations of gene markers ranging from 2 to 5
    for r in range(2, 6):  # Combining 2 to 5 gene markers
        gene_combinations_r = list(combinations(gene_list, r))  # Generate gene marker combinations
        expression_combinations_r = list(combinations(expression_list, r))  # Generate corresponding expression combinations
        p_values_combinations_r = list(combinations(p_values_list, r))  # Generate corresponding p-values combinations 
        p_values_adj_combinations_r = list(combinations(p_values_adj_list, r))  # Generate corresponding adjusted p-values combinations
        scores_combinations_r = list(combinations(scores_list, r))  # Generate corresponding scores combinations 
        
        # Convert each gene combination tuple to a string joined by ","
        gene_combinations_r = [",".join(comb) for comb in gene_combinations_r]
        all_gene_combinations.extend(gene_combinations_r)  # Append to the list of all gene marker combinations
        
        # Step 4: Calculate the average expression for each gene combination
        for expression_comb in expression_combinations_r:
            average_expression = np.mean(expression_comb)  # Compute average expression for the combination
            all_expression_combinations.append(average_expression)  # Append to the list of expressions

        # Step 5: Calculate the average p-value for each gene combination
        for p_values_comb in p_values_combinations_r:
            average_p_values = np.mean(p_values_comb) # Compute average p-value for the combination
            p_values_combinations.append(average_p_values) # Append to the list of p-values 

        # Step 6: Calculate the average adjusted p-value for each gene combination
        for p_values_adj_comb in p_values_adj_combinations_r:
            average_p_values_adj = np.mean(p_values_adj_comb)
            p_values_adj_combinations.append(average_p_values_adj) # Append to the list of adjusted p-values 

        # Step 7: Calculate the average score for each gene combination
        for scores_comb in scores_combinations_r:
            average_scores = np.mean(scores_comb) 
            scores_combinations.append(average_scores) # Append to the list of scores 

    
    # Step 8: Create a new DataFrame with the combined gene markers and their average expression
    new_pairs_DF = pd.DataFrame({
        "Cell_Type": current_cell_type,  # Cell type for the combinations
        "Gene_Marker": all_gene_combinations,  # Combined gene markers
        "Expression": all_expression_combinations,  # Calculated average expressions
        "P Value": p_values_combinations,  # Calculated average p-values 
        "P Value(Adj)": p_values_adj_combinations,  # Calculated average adjusted p-values 
        "Score": scores_combinations  # Calculated average scores    


    })
    
    # Step 9: Append the new combinations to the main DataFrame
    data_selected = pd.concat([data_selected, new_pairs_DF], axis=0)  # Combine the original and the new data

Current Cell Type:  0
Current Cell Type:  1
Current Cell Type:  2
Current Cell Type:  3
Current Cell Type:  4
Current Cell Type:  5
Current Cell Type:  6
Current Cell Type:  7
Current Cell Type:  8
Current Cell Type:  9
Current Cell Type:  10
Current Cell Type:  11

### C-) `Result`

In [19]:
data_selected

,Cell_Type,Gene_Marker,Expression,P Value,P Value(Adj),Score
0,0,JCHAIN,6.369182,4.827086e-25,2.992878e-21,10.336322
1,0,IGHA1,7.077818,6.197949e-25,2.992878e-21,10.312331
2,0,IGHA2,4.783164,6.530390e-25,2.992878e-21,10.307309
3,0,SSR4,3.226114,3.549895e-24,1.220188e-20,10.143276
4,0,FKBP11,1.983271,1.021905e-23,2.810035e-20,10.039500
...,...,...,...,...,...,...
51,11,"IRF7,SERPINA1,TREM1,FBP1,GPNMB",1.711790,6.722895e-18,1.914775e-14,8.676164
52,11,"IRF7,SERPINA1,TREM1,PLD4,GPNMB",1.696800,8.482948e-18,2.355365e-14,8.645693
53,11,"IRF7,SERPINA1,FBP1,PLD4,GPNMB",1.865004,8.489340e-18,2.355365e-14,8.645462
54,11,"IRF7,TREM1,FBP1,PLD4,GPNMB",1.638521,8.614851e-18,2.355365e-14,8.640383
55,11,"SERPINA1,TREM1,FBP1,PLD4,GPNMB",1.614965,8.715403e-18,2.355365e-14,8.635305

## 3-) `Concatenation`

### 1-) `Concat`

In [20]:
data_combined = pd.concat([data_true, data_selected], axis=0)

### 2-) `Result`

In [21]:
#data_HTML = data_combined.to_html(index=False)

try:
    if manager == 1:
        print("Jupyter has been running from Manager") 
        #display(HTML(data_HTML))   
except: 
    for i in pd.unique(data_combined["Cell_Type"]):
        print(i)  

data_combined

Plasma
gamma-delta T
Follicular B
DC1
Kupffer
Macrophages
pDC
Endothelial
Mast
Neutrophil-myeloid progenitor
Microglia
Macro_pDC
0
1
2
3
4
5
6
7
8
9
10
11

,Cell_Type,Gene_Marker,Expression,P Value,P Value(Adj),Score
0,Plasma,JCHAIN,6.496516,2.343345e-25,2.715227e-21,10.405374
1,Plasma,IGHA1,7.216112,4.854644e-25,2.715227e-21,10.335776
2,Plasma,IGHA2,4.820352,7.016357e-25,2.715227e-21,10.300407
3,Plasma,SSR4,3.285065,7.899416e-25,2.715227e-21,10.288998
4,Plasma,FKBP11,2.013909,9.964900e-24,2.740148e-20,10.041985
...,...,...,...,...,...,...
51,11,"IRF7,SERPINA1,TREM1,FBP1,GPNMB",1.711790,6.722895e-18,1.914775e-14,8.676164
52,11,"IRF7,SERPINA1,TREM1,PLD4,GPNMB",1.696800,8.482948e-18,2.355365e-14,8.645693
53,11,"IRF7,SERPINA1,FBP1,PLD4,GPNMB",1.865004,8.489340e-18,2.355365e-14,8.645462
54,11,"IRF7,TREM1,FBP1,PLD4,GPNMB",1.638521,8.614851e-18,2.355365e-14,8.640383
55,11,"SERPINA1,TREM1,FBP1,PLD4,GPNMB",1.614965,8.715403e-18,2.355365e-14,8.635305

# `End`

In [22]:
subject_data = data_true.copy()

In [23]:
"""
export_name = "data_full" 
with open(os.path.join(access_data_path(f"{process_barcode}/data/{folder_text}", f"{export_name}" + ".pkl"))  , 'wb') as file: 
    pickle.dump(data_full, file)   
"""

'\nexport_name = "data_full" \nwith open(os.path.join(access_data_path(f"{process_barcode}/data/{folder_text}", f"{export_name}" + ".pkl"))  , \'wb\') as file: \n    pickle.dump(data_full, file)   \n'

In [24]:
try:
    print("s1_setup.ipynb | Progress 1.2") 

    export_name = "subject_data" 
    with open(os.path.join(access_data_path(f"{process_barcode}/data/{folder_setup}", f"{export_name}" + ".pkl"))  , 'wb') as file: 
        pickle.dump(subject_data, file)   

except Exception as e: 
    print("s1_setup.ipynb | Error: ", e)

s1_setup.ipynb | Progress 1.2